* {
    font-family: 'Rubik', sans-serif;

    margin: 0;
    padding: 0;

    overflow-x: hidden;
}

:root {
    --background_color: #25212a;

    --sidebar_size: 300px;
}



div#sidebar {
    background-color: var(--background_color);

    border-right: 2px solid #38313e;

    width: var(--sidebar_size);
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    justify-content: center;
}

div#sidebar * {
    font-size: 16px;
}


div#sidebar div#upper_text {
    width: 90%;
    padding-top: 10px;
}

div#sidebar div#upper_text span.upper {
    font-size: 26px;
    text-decoration: none;
    color: #c8c8c8;
}

div#sidebar div#upper_text span.lower {
    font: italic;
    font-size: 21px;
    text-decoration: none;
    font-style: italic;
    color: #868686;
}


div#sidebar ul {
    position: absolute;
    bottom: 0;

    list-style-type: none;

    width: 80%;

    margin-top: 20px;
    margin-bottom: 20px;
}

div#sidebar ul li.bnt-li {
    white-space: nowrap;

    width: 100%;
    margin: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
    text-decoration: none;

    transition: all 0.2s ease-in-out;

    background-color: var(--background_color);
    filter: brightness(120%);
}

div#sidebar ul li.bnt-li:hover {
    background-color: var(--background_color);
    filter: brightness(150%);
}

div#sidebar ul li.bnt-li button {
    background-color: transparent;
    width: 100%;
    padding: 10px 0px;
    padding-left: 5px;

    text-align: left;
    color: #c8c8c8;

    border: none;

    cursor: pointer;
}

div#sidebar ul li.bnt-li i {
    color: #c8c8c8;
    padding-left: 5px;
    padding-right: 5px;
}

div#contents {
    margin-left: calc(var(--sidebar_size) + 2px);
    background-color: var(--background_color);

    width: calc(100% - calc(var(--sidebar_size) + 2px));
    height: 100%;

    position: absolute;
    display: flex;
}

div#contents * {
    color: #c8c8c8;

    margin: 10px 10px;
}

div#contents div#server_stats {
    width: 400px; 
    height: 200px;

    background-color: var(--background_color);
    filter: brightness(120%);

    border-radius: 12px;
    /* margin: 10px 10px; */
    padding: 10px 10px;
}

div#contents div#server_requests {
    /* width: 400px; */
    height: 330px;

    background-color: var(--background_color);
    filter: brightness(120%);

    border-radius: 12px;
    /* margin: 10px 10px; */
    padding: 10px 10px;
}

div#contents div#server_stats * {
    padding: 0 0;
    margin: 0 0;
}